.Movie-rate {
  text-align: start;
  color: yellow;
  text-decoration: underline;
}

body {
  background-image: linear-gradient(179deg, rgb(58, 3, 3) 9.2%, rgb(83, 11, 11) 103.9%);
}

.Movie-genres {
  text-align: start;
}

.Icon-star {
  margin-right: 5px;
  margin-bottom: 4px;
}
